:root {
  --black: #202020;
  --white: #FFFFFF;
  --grey: #777777;
  --green: #10AF76;
  --off-white: #909090;
}

a {
  font-size: 20px;
}

.header-about {
  margin-bottom: 40px;
}

p.role{
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
}

h6, li {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}

.text h6, .faqs h6 {
  color: var(--black);
}

h4 {
  font-weight: 700;
  color: #A4A4A4;
  margin-bottom: 16px;
}

hr {
  border-style: dashed;
  border-width: 2px 0px 0px 0px;
  border-color: #A4A4A4;
}

.percentage {
  font-weight: 700;
  color: #202020;
  margin: 0;
}

.project-menu {
  background-color: rgba(255, 255, 255, 0.2);
}

.header {
  background-color: transparent;
}


/* hero section */
.project-hero {
  padding: 110px 10% 0px 14%;
  margin-top: -85px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-hero .left {
  width: 55%;
}

.project-hero .right {
  width: 40%;
  display: flex;
}

.project-hero .right img {
  width: 100%;
  object-fit: cover;
}

.down {
  margin-top: 48px;
}

.project-hero .left .down {
  display: flex;
  justify-content: space-between;
}

.col:first-child {
  width: 33%;
}

.col p {
  margin-bottom: 8px;
}

.tools {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* BG TEXT */
.bg-text {
  padding: 0;
  background: #F3F3F3;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.03);
  font-size: 9.5vw;
  overflow: hidden;
  display: grid;
  place-content: center;
  /* line-height: 80px; */
}
#text {
  white-space: nowrap;
}

/* BREIF SECTION */
.brief {
  padding: 0px 5% 60px 14%;
  background: #F3F3F3;
  margin-top: -60px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.brief .left {
  width: 53%;
}

.brief .right {
  width: 45%;
  text-align: center;
}

.brief .right img {
  width: 100%;
}

.brief .left p {
  margin-bottom: 32px;
}

/* RESEARCH SECTION */
.research {  
  background: #F3F3F3;
  margin-top: -130px;
}

/* result */
.result {
  margin-top: 50px;
}

.result-tile {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.result-tile .card {
  display: flex;
  align-items: center;
  gap: 30px;
}

.result-tile .card:nth-child(2) .img {
  order: 1;
}

.result-tile .card:nth-child(2) {
  justify-content: flex-end;
}

.result-tile .card .img {
  width: 15%;
  position: relative;
}

.result-tile .card .text {
  width: 44%;
}

.result-tile .card .img img  {
  width: 100%;
}

.percent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.width {
  width: 68%;
}


/* faq */
.faqs-tile {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 80px;
}

.faqs-tile .card h6 {
  color: var(--white);
}

.faqs-tile .card {
  background: #558C35;
  border-radius: 12px;
  width: 32%;
  padding: 16px 32px;
}

.map-tile .card {
  background: #FFFFFF;
  padding: 24px 40px;
  box-shadow: 5px 10px 50px rgba(10, 10, 10, 0.08);
  border-radius: 24px;
}

.special-list li::marker {
  color: #558C35;
  font-size: 20px;
}

.special-list {
  margin-left: 10px;
}

.special-list li {
  color: var(--black);
  line-height: 24px;
  letter-spacing: 0.75px;
  margin: 10px;
}

.map-tile {
  display: flex;
  justify-content: space-between;
}

.map-tile .card {
  width: 49%;
}

.map hr {
  width: 70%;
  margin: 10px auto;
  border-color: #A4A4A4;
}

hr.up {
  width: 35%;
  margin: 0 auto;
  transform: rotate(90deg);
}

.map {
  position: relative;
  margin: 24px 0 80px 0;
}

.avatar {
  position: absolute;
  top: 38%;
  left: 45%;
  /* margin: 0 auto; */

  width: 100px;
  height: 100px;
  background: linear-gradient(180deg, #7EB55D 0%, #558C35 106.61%);
  border-radius: 999px;
  display: grid;
  place-content: center;
  padding: 10px;
}

.avatar img {
  width: 100%;
  /* aspect-ratio: 1/1; */
  height: inherit;
  object-fit: contain;
}

/* PERSONA */
p.name {  
  font-weight: 700;
  font-size: 56px;
  line-height: 75px;
}

.detail {
  color: #A4A4A4;
}

.bio-detail {
  color: var(--black);
}

.black {
  color: var(--black);
}

.profile-sub {
  margin: 80px 0;
  display: flex;
  justify-content: space-between;
}

.profile-sub .left {
  width: 59%;
}

.profile-sub .right {
  width: 38%;
}

.profile-sub .right img {
  width: 100%;
}

.bio {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.bio .card {
  width: 40%;
}

.points {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.points>* {
  width: 48%;
}

.points .special-list {
  margin-left: -10px;
}










.fitpocket {
  background: url(/img/fitpocket\ bg.svg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.fitpocket-link {
  color: #558C35;
  /* text-rendering: optimizeLegibility; */
  /* transform: rotate(1); */
  /* writing-mode: horizontal-tb; */
  /* writing-mode: vertical-rl */
}


