@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Archivo', sans-serif;

  /* outline: 2px solid red; */
  /* border: 2px solid rgb(54, 4, 4); */
}

html {
  scroll-behavior: smooth;
}

.scroll {
  overflow: hidden;
}

:root {
  --black: #202020;
  --white: #FFFFFF;
  --grey: #777777;
  --green: #10AF76;
  --off-white: #909090;
  --off-black: #262626;
}

/* FONTS */
.break {
  display: block;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 67px;
  color: var(--white);
}

h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: var(--off-white);
}

h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: var(--grey);
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

h6 {
  font-size: 16px;
  font-weight: 500;
  /* font-weight: 400; */
  line-height: 24px;
  letter-spacing: 0.75px;
  color: var(--white);
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: var(--black);
}

a {
  text-decoration: none;
  font-weight: 700;
  color: var(--black);
  font-size: 24px;
  
  display: inline-flex;
  align-items: center;
  gap: 5px;

}

.bx-arrow-back {
  transform: rotate(180deg);
}

.pri-btn {
  border-radius: 0;
  padding: 8px 24px;
  background: var(--green);
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: var(--white);
  cursor: pointer;
}

.btn-bg {
  background: var(--green) !important;
}

section, footer {
  padding: 32px 14% 32px 14%;
}


/* HEADER */
header {
  position: sticky;
  top: 0;
  z-index: 99;
}

.header {
  background-color: var(--black);
  padding: 15px 14% 15px 14%;
  position: relative;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.blur-header {
  background-color: #00000083 !important;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(1px);
}

.menu {
  position: absolute;
  right: 90%;
  color: aliceblue;
  background-color: #2B2B2B;

  display: grid;
  place-content: center;
  padding: 10px;
  border-radius: 99px;
  cursor: pointer;
}

/* hambugger */
.hamburger {
  position: relative;
  width: 20px;
  cursor: pointer;
}

.bar, .bar2 {
  width: 100%;
  height: 2px;
  background-color: var(--white);
  margin: 6px 0;
  content: "";
  display: block;
  transition: 0.4s;

}

.hamburger.is-active .bar {
  transform: rotate(-45deg) translate(-4px, 3px);
}

.hamburger.is-active .bar2 {
  transform: rotate(45deg) translate(-2.5px, -2px);
}
/* hambuger ends */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav panel */
.nav-panel {
  background: var(--black) url(/img/m-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(100vh - 70px);
  /* max-height: 1900px; */
  width: 100%;
  position: fixed;
  top: 70px;
  padding: 35px 15%;
  direction: ltr;
  right: 100%;
  transition: 0.4s;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-panel.is-active {
  right: 0;
}

.nav-panel .down {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-panel .down>* {
  width: 25%;
}

.nav-panel .top h6 {
  font-weight: 700;
  margin-bottom: 24px;
}

.nav-panel .down .links h4 {
  color: var(--grey);
  margin-bottom: 24px;
}

.panel-link, .menu-link {
  list-style-type: none;
}

.menu-link li {
  margin: 12px 0;
}

.menu-link li a {
  color: var(--white);
  font-size: 30px;
  margin: 12px 0;
  position: relative;
}

.menu-link li a::after {
  content: "";
  position: absolute;
  background-color: #10af7531;
  border-bottom: 2px solid var(--green);
  height: 50%;
  width: 0;
  left: -7px;
  bottom: -2px;
  transition: .3s;
  z-index: -1;
}

.menu-link li a:hover::after {
  width: 120%;
}

/* active menu */
.menu-link li .active::after {
  content: "";
  position: absolute;
  background-color: #10af7531;
  border-bottom: 2px solid var(--green);
  height: 50%;
  width: 120%;
  left: -7px;
  bottom: -2px;
  transition: .3s;
  z-index: -1;
}

.panel-link li {
  margin: 12px 0;
}

.panel-link li a {  
  color: var(--white);
  font-size: 16px;
}

/* HERO SECTION */
.hero {
  padding: 99px 14% 60px 14%;
  background: var(--black) url(/img/m-bg.svg);
  background-position: center;
  /* background-size: contain; */
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}

.hero .left {
  width: 48%;
}

.hero .left span {
  font-weight: 300;
  display: block;
  font-size: 48px;
}

.hero .left h6 {
  margin-top: 24px;
  margin-bottom: 20px;
}

.hero .right {
  width: 38%;
}

.hero .right img {
  width: 100%;
}


/* ABOUT SECTION */
.home-about {
  display: none;
}

.about {
  background: #F3F3F3;
}

.green {
  color: var(--green);
}

.about p {
  margin: 40px 0;
}

/* PROJECT SECTION */
.project-tiles {
  display: flex;
  flex-direction: column;
  gap: 64px;

  margin-bottom: 50px;
}
.project-tiles .tile {
  position: relative;
}

.tile .content {
  display: flex;
  flex-wrap: wrap;
}

.content-hover {
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute; 
  transition: 1s; 
}

.content-hover a {
  color: white;
}

.tile:hover .content-hover {
  display: grid;
  place-content: center;
  background-color: #0a0a0a79;

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  color: rgb(255, 255, 255);
}

.tile .left {
  width: 55%;
}

.tile .left img, .tile .left source {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile .right {
  width: 45%;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;

  padding: 32px 5% 24px 5%;
}

.tile .right h6, .tile .right h2 {
  color: var(--black);
}

.tile .right h2 {
  margin-bottom: 16px;
}

.tile .right .down a {
  font-size: 14px;
}

.tags {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style-type: none;
}

.small {
  font-size: 12px;
  padding: 8px;
  background: #0A0A0A4D;
  color: white;
}

/* FOOTER SECTION */
.footer {
  background: var(--white);
  text-align: center;
}

.address {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-top: 25px;
}

.bold {
  font-weight: 700;
  color: var(--black);
}

.c-card h6 {
  color: var(--grey);
}

.c-card:nth-child(2) h6 {
  color: #0A0A0A;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bx-map {
  font-size: 25px;
}

.c-card a {
  color: var(--grey);  
  font-size: 16px;
  font-weight: 400;
}

hr {
  margin: 24px 0;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
  margin: 50px 0;
}

small {
  display: block;
  color: var(--grey);
  font-size: 16px;
  margin: 16px 0;
}



/* ABOUT PAGE */
.about-hero {
  padding: 0 14%;
  background: var(--black);

  display: flex;
  align-items: end;
}

.about-hero .left {
  width: 50%;
}

.about-hero .left img {
  width: 100%;
}

.about-hero .right {
  width: 50%;
  padding: 48px 0;
}

.ciao {
  font-weight: 600;
  font-size: 17vw;
  line-height: 64px;
  color: var(--off-black);
}

.about-hero .right h6 {
  margin-top: -35px;
}

.about-brief {  
  padding: 80px 14% 40px 14%;
}

.outline {
  color: #F3F3F3; /* Unfortunately you can't use transparent here … */
  text-shadow: -1px -1px 0 #909090, 1px -1px 0 #909090, -1px 1px 0 #909090, 1px 1px 0 #909090;
}

.philosophy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.philosophy p {
  width: 60%;
}

.philosophy div {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.philosophy div h2 {
  line-height: 50px;
  color: var(--green);
}

.kiss {
  color: #F3F3F3; /* Unfortunately you can't use transparent here … */
  text-shadow: -1px -1px 0 #9090904D, 1px -1px 0 #9090904D, -1px 1px 0 #9090904D, 1px 1px 0 #9090904D
}

.expertise {
  margin-top: 43px;

  display: flex;
  justify-content: space-between;
}

.expertise .card h4 {
  margin-bottom: 22px;
  font-weight: 700;
  color: var(--grey);
}

.expertise-list p{
  display: flex;
  align-items: center;
  margin: 0;
}







@media screen and (max-width: 1000px) {
  h1 {
    font-size: 36px;
    line-height: 35px;
  }

  .hero .left span {
    font-size: 24px;
  }
  
  h2 {
    font-size: 32px;
    line-height: 48px;
  }
  
  h3 {
    font-size: 48px;
  }
  
  h4 {
    font-size: 24px;
  }
  
  h6 {
    font-size: 16px;
  }
  
  p {
    font-size: 16px;   
    line-height: 24px;
    font-weight: 400;
  }
  
  a {
    font-size: 16px;
  }
  
  .pri-btn {
    font-size: 16px;
  }

  .tile .right .down a {
    font-size: 12px;
  }

  .small {
    font-size: 10px;
    padding: 4px 8px;
  }

  .tile .right h2 {
    margin-bottom: 12px;
  }

  .tile .right h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 32px;
    line-height: 56px;
  }
}

@media screen and (max-width: 850px) {
  section, footer {
    padding: 32px 9% 32px 9%;
  }
  
  .header {
    padding: 10px 9% 10px 15%;
  }

  .hero {
    padding: 99px 9% 60px 15%;
    align-items: unset;
  }

  .hero .right, .hero .left {
    width: 48%;
  }

  .hero .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .menu {
    right: 90%;
  }

  .address {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .c-card:nth-child(2) {
    order: 1;
  }

  .c-card:nth-child(2) h6 {
    align-items: center;
    flex-direction: unset;
    gap: 5px;
  }

  /* ABOUT PAGE */
  .about-hero {
    padding: 0 9%;
    align-items: unset;
  }

  .about-hero .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .break {
    display: unset;
  }

  .about-brief {  
    padding: 70px 9% 0px 9%;
  }
}




@media screen and (max-width: 650px) {
  h6 {
    font-weight: 400;
    font-size: 12px;
  }

  .logo a img {
    width: 40px;
  }

  .about p {
    margin: 8px 0 24px 0;
  }

  

  .nav-panel .top h6 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .nav-panel {
    text-align: center;
    gap: 15px;    
    justify-content: unset;
    overflow: scroll;
  }

  .nav-panel .down {
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .nav-panel .down>* {
    width: 100%;
  }

  .menu-link li a {
    font-size: 20px;
    margin: 5px 0;
  }

  .panel-link li {
    margin: 12px 0;
  }


  .header {
    padding: 15px 5%;
  }

  .menu {
    padding: 7px;
  }

  .hamburger {
    position: relative;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  
  .bar, .bar2 {
    margin: 4px 0;  
  }

  .hamburger.is-active .bar {
    transform: rotate(-45deg) translate(-1.5px, 2px);
  }
  
  .hamburger.is-active .bar2 {
    transform: rotate(45deg) translate(-2px, -3px);
  }

  .nav-panel {
    height: calc(100vh - 55px);
    top: 55px;
  }

  .nav-btn {
    display: none;
  }

  .menu {
    right: 5%;
  }

  .hero {
    padding: 52px 5% 0px 5%;
    background-size: 130%;
    background-position: 50% 40%;
  
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
  }

  img.signature {
    width: 60px;
  }

  .hero .left, .hero .right {
    width: 100%;
  }

  .hero .right {
    margin-bottom: -60px;
  }
  
  .hero .right img {
    width: 80%;
  }

  section, footer {
    padding: 32px 5% 32px 5%;
  }

  .header-about {
    margin-top: 60px;
  }

  .project-tiles {
    gap: 24px;
    margin-bottom: 0px;
  }

  .tile {
    flex-wrap: wrap;
  }

  .tile .left, .tile .right {
    width: 100%;
  }

  /* .tile .left {
    height: 160px;
  } */

  /* .tile .left img {
    object-fit: contain;
    height: 160px;
    overflow: hidden;
  } */

  .tile .right {
    /* gap: 30px; */
    text-align: left;
    padding: 5px 5% 16px 5%;
  }

  .tile .right h2 {
    margin-bottom: 0px;
  }

  .tags {
    margin-top: 5px;
  }

  .address {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
  }

  .c-card:first-child {
    order: 1;
  }

  .c-card h6 {
    font-size: 14px;
  }

  .featured {
    padding: 100px 5% 60px 5%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer h3 {
    line-height: 36px;
  }

  .footer hr {
    width: 60%;
    margin: 8px 0;
  }

  .socials {
    margin: 10px 0;
  }
  
  .footer .down img:nth-child(2) {
    margin: 40px 0 0px 0;
  }

  .bx-map {
    font-size: 16px;
  }

  small {
    font-size: 14px;
  }

  /* ABOUT PAGE */
  .about-hero {
    padding: 0 5%;
    flex-wrap: wrap;
  }

  .about-hero .left, .about-hero .right {
    width: 100%;
  }

  .about-hero .left {
    text-align: center;
  }

  .about-hero .left img {
    width: 70%;
  }

  .about-hero .right {
    margin-top: -120px;
    text-align: justify;
  }

  .ciao {
    font-size: 45vw;
  }

  .about-brief {  
    padding: 4px 5% 0px 5%;
    text-align: center;
  }

  .philosophy {
    flex-wrap: wrap;
  }
  
  .philosophy p {
    width: 100%;
    text-align: center;
  }
  
  .philosophy div {
    display: none;
  }

  .expertise {
    flex-wrap: wrap;
    gap: 30px;
  }

  .expertise >* {
    width: 100%;
    text-align: center;
  }

  .expertise-list p {
    justify-content: center;
    margin: 0px;
  }

  .bx.bx-minus {
    display: none;
  }

  .outline {
    text-align: center;
  }
}















/* SCROLL BAR */
/* ::-webkit-scrollbar {
  width: 10px;
  background-color: var(--black);
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--grey);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #44494b;
} */



@media screen and (min-width: 2000px) {
  section,
  header,
  .footer,
  .header {
    /* width: 100%; */
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
  }

  section {
    padding: 60px 140px 60px 140px;
  }

  .hero {
    padding: 99px 140px 60px 140px;
  
  }

  .about-hero {
    padding: 0 140px;
  }

  .ciao {
    font-weight: 600;
    font-size: 2000%;
    line-height: 64px;
  }


  .menu {
    right: 93%;
  }

  .header {
    padding: 15px 140px 15px 140px;
  }

  .nav-panel {
    padding: 35px 150px;
    max-height: 900px;
    display: inline-flex;
    /* width: 100% !important; */
    /* overflow: auto; */
    /* direction: ltr; */
    /* min-width: 1500px; */
    /* width: min-content; */
    /* margin-right: auto;
    margin-left: auto; */

  }

  /* .nav-panel.is-active {
    right: 2000px;
    max-width: 1500px;
    margin: 0 auto;
  } */

  /* .service-hero, */
  footer,
  header {
    max-width: unset;
  }

  /* .header {
    padding: 10px 50px;
  } */
}